<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  <display-name>zoho_bank</display-name>
	<welcome-file-list>
		<welcome-file>LoginPage.jsp</welcome-file>
	</welcome-file-list>
 	<servlet>
  		<servlet-name>servletlogin</servlet-name>
		<servlet-class>login.web.LoginServlet</servlet-class>
  	</servlet>
 	<servlet-mapping>
  		<servlet-name>servletlogin</servlet-name>
  		<url-pattern>/LoginServlet</url-pattern>
  	</servlet-mapping>
</web-app>